/* src/App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Elimina el scroll */
  background-color: black;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.app-header {
  flex: 0 0 10%;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-body {
  flex: 1;
  background-color: #f0f0f0;
  overflow: hidden; /* Asegúrate de que no haya desbordamiento */
}